
@{
    ViewBag.Title = "Portfolio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

        <script src="~/Scripts/modernizr-2.6.2.js"></script>
    </head>
<body>
    <br />
    <div id="content">
        <div class="container">
            <div class="row">
                <br />
                <br />
                <br />
                <br />
                <div class="col-md-4 col-md-offset-5 text-center gridbordergrey whitebackground">

                    <img src="~/Documents/IMG_20180504_203916.jpg" class="img-responsive img-circle" style="width:50%;height:50%" />

                </div>

                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <br />

                        <p class="text-center" style="color:white">
                            Web Developer,Senior Systems Engineer,Infosys<br />
                            Sept,2015-Present
                        </p>
                    </div>
                </div>
                <div >
                    <br />
                    <br />
                     <p style="background-image: url('../../Documents/Portfolio_Background_9.jpg');color:white;text-align:center;font-size:16px">An articulate software professional with good experience across development, design, documentation, testing and implementation of software/ web applications.<br />
                         Skilled in Test Driven Development and Agile Development.  </p>
                </div>
            </div>

        </div>
    </div>
</body>
</html>




